.root {
    -fx-font-size: 10pt;
    -fx-base: rgb(70, 70, 70);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(30, 30, 30);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 2, 1;
}

.tab {
    -fx-border-color: rgb(10, 10, 10);
    -fx-background-color: linear-gradient(to top, -fx-base, derive(rgb(20, 20, 20),30%));
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
    -fx-border-radius: 11 11 0 0, 10 10 0 0;
}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}

.button {
    -fx-background-color: -fx-base;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
    -fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base,20%);
    -fx-background-insets: 0, 0 1 0 1;
}

.gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

.separator-label {
    -fx-text-fill: orange;
}

/*
.text-input {
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
*/



.text-field  {
    -fx-border-width: 2;
    -fx-border-color: rgb(255, 255, 255);
    -fx-background: rgb(0, 0, 0);
    -fx-accent: rgb(210, 210, 210);
    -fx-highlight-text-fill: rgb(20, 20, 20);
}

.text-field:hover{
    -fx-border-color: rgb(255, 255, 255);
}

.text-field:focused{
    -fx-border-color: rgb(255, 255, 255);
}