.chat-bubblepatient {
    /*-fx-shape: "M 650,6501 C 449,6461 239,6231 138,5940 l -33,-95 0,-1805 c 0,-1721 1,-1808 18,-1870 99,-349 496,-586 1035,-617 61,-3 112,-10 112,-14 0,-28 -54,-147 -93,-205 C 1128,1261 967,1096 835,984 711,880 630,799 609,758 585,711 584,627 608,580 c 41,-81 117,-99 352,-82 459,34 884,197 1280,490 145,108 383,344 485,482 l 78,105 1766,5 1766,5 46,21 c 201,93 457,356 504,517 13,47 15,275 13,1958 l -3,1906 -39,77 c -65,127 -198,274 -334,366 -130,88 174,80 -3006,79 -1557,-1 -2847,-4 -2866,-8 z m 5675,-395 c 28,-17 73,-53 101,-80 27,-28 63,-73 80,-101 l 29,-50 3,-1800 c 3,-2042 12,-1830 -88,-1963 -58,-77 -132,-142 -183,-161 -20,-8 -598,-11 -1863,-11 l -1835,0 -25,-28 c -24,-25 -104,-151 -240,-376 -70,-116 -133,-178 -282,-277 -132,-87 -290,-165 -446,-218 -65,-23 -120,-41 -122,-41 -3,0 5,19 17,42 40,79 107,254 128,338 17,65 23,128 28,265 l 6,180 -47,57 -47,58 -372,0 c -340,0 -375,2 -413,19 -103,47 -216,196 -269,356 l -25,74 0,1684 c 0,1630 1,1687 19,1746 37,119 171,282 252,308 24,8 828,11 2789,10 l 2755,-2 50,-29 z";
    */
    -fx-base-1: rgb(110, 50, 20);
    -fx-base-2: rgb(140, 70, 40);
    -fx-background-color: -fx-base-1, linear-gradient(to bottom, derive(-fx-base-2,-02%), derive(-fx-base-1,65%) 12%, derive(-fx-base-2,23%) 88%, derive(-fx-base-1,50%) 99%, -fx-base-2);
    -fx-background-radius: 5;
    -fx-padding: 20;
}

.chat-bubblephysician {
    /*-fx-shape: "M1190 8490 c-297 -8 -426 -20 -482 -43 -57 -24 -259 -166 -353 -248 -129 -112 -219 -218 -302 -355 l-48 -79 -3 -2515 c-2 -1405 1 -2609 6 -2727 9 -209 9 -213 40 -275 112 -226 495 -552 798 -678 l73 -30 1209 0 c665 0 1951 -3 2858 -7 l1649 -6 70 -84 c157 -190 513 -512 758 -687 513 -365 1220 -637 1877 -720 306 -39 610 -44 713 -13 107 33 157 105 157 223 0 45 -7 83 -19 109 -25 54 -146 167 -326 304 -345 262 -576 479 -658 617 -27 45 -59 108 -72 140 -23 57 -23 59 -5 66 10 4 92 12 182 18 603 41 1054 190 1370 455 136 113 268 315 299 455 9 42 13 660 16 2601 l4 2546 -41 104 c-82 207 -182 367 -319 511 -145 153 -310 260 -466 303 -56 16 -382 17 -4380 20 -2376 2 -4448 -1 -4605 -5z m8848 -553 c64 -33 187 -148 254 -236 81 -108 108 -173 118 -287 5 -55 12 -1138 16 -2409 l6 -2310 -31 -78 c-75 -187 -139 -288 -260 -407 -60 -60 -107 -96 -155 -120 l-70 -35 -618 -3 -617 -3 -76 -82 -75 -82 0 -83 c0 -182 21 -424 45 -519 27 -105 99 -281 182 -446 31 -59 53 -110 51 -113 -6 -5 -234 64 -373 113 -345 123 -703 321 -861 478 -39 38 -115 133 -169 210 -191 272 -297 416 -347 470 l-50 55 -2991 2 -2992 3 -65 35 c-75 40 -291 243 -320 300 -59 116 -63 311 -55 2940 l6 2275 26 40 c73 112 192 219 326 291 l62 34 4490 -3 4490 -2 53 -28z";
    */
    -fx-base-1: rgb(20, 50, 110);
    -fx-base-2: rgb(50, 90, 140);
    -fx-background-color: -fx-base-1, linear-gradient(to bottom, derive(-fx-base-2,-02%), derive(-fx-base-1,65%) 12%, derive(-fx-base-2,23%) 88%, derive(-fx-base-1,50%) 99%, -fx-base-2);
    -fx-background-radius: 5;
    -fx-padding: 20;
}

.titled-pane {
    -fx-base: -fx-base-1;
    -fx-background-color: -fx-base-2;
    -fx-control-inner-background:  -fx-base-3;
}

.titled-pane:focused {
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}

.titled-pane > *.content {
    -fx-background-color: -fx-box-border, linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%, derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: white;
}